HELP.md
.gradle
build/
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**/build/
!**/src/test/**/build/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
out/
!**/src/main/**/out/
!**/src/test/**/out/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/

#MacOS Temp File
.DS_Store
._.DS_Store
**/.DS_Store
**/._.DS_Store

**/application.properties
uploads/audio/8da7777e-58ab-4f43-9fb8-f8e6939a0160.wav
uploads/audio/51a21d97-d1d1-455d-8d0d-8e6d1885b263.wav
uploads/images/62d626e9-513d-4e8a-b9c9-e5d54ad90425.png
uploads/images/68a3bad4-a938-4381-8f2e-0d3bff23bbe4.jpg
uploads/images/775fb0bf-e7ba-4721-ba41-d4ae767d75e0.gif
uploads/images/7928bf8b-6bc8-4115-b6ad-60ec8607146f.jpg
uploads/images/812234f1-dc4e-442d-a5cb-3f0500cea65e.gif
